/* Parent App Styling */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Generic Styling */

.flexApart {
  display: flex;
  justify-content: space-between;
}

.formInputHeader {
  color: var(--primary-text-color);
  padding-block: 2px;
}


/* Main View Styling */

.contact-form {
  background-color: #d3d3d3e3;
  border-radius: 10px;
  padding: 10px;
  width: 70vw;
  height: 80vh;
  border: 2px solid;
}

.contact-form-views {
  width: 100%;
  height: fit-content;
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid;
}

.contact-form-views :hover {
  background-color: rgb(159, 159, 159);
}

.headerButton {
  width: 100%;
}

.headerButton.selected {
  background-color: rgb(159, 159, 159);
}

.add-contact-selector {
  border-right: 2px solid;
}

/* Styling for Add Contacts View */
.contact-form-container {
  max-height: 50vh;
  padding: 5px;
  overflow-y: auto;  /* Enable vertical scrolling */
}

.add-contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-contact-view {
  padding: 5px;
}


/* Styling for View Contacts  */
.view-contacts-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.contacts-list-container {
  max-height: 70vh;
  padding: 5px;
  border-right: 1px solid;
  overflow-y: auto;  /* Enable vertical scrolling */
}

.contact-details-container {
  padding: 5px;
}

.selected-contact {
  background-color: rgb(159, 159, 159);
}

.selected-contact:hover{
  background-color: rgb(159, 159, 159);
}

/* Styling for contact details page */
.contact-details-container {
  max-height: 60vh;
  padding: 5px;
  border-right: 1px solid;
  overflow-y: auto;  /* Enable vertical scrolling */
}